<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.planwallpaper.com/static/images/Wallpapers-for-Background-HD-Wallpaper-1080x607.jpg</string>
	<string>http://www.planwallpaper.com/static/images/518097-background-hd.jpg</string>
	<string>http://www.planwallpaper.com/static/images/pictures-of-nature-hd-background-wallpaper.jpg</string>
	<string>http://www.planwallpaper.com/static/images/green-nature-dual-monitor-other.jpg</string>
	<string>http://www.planwallpaper.com/static/images/6983664-cute-nature.jpg</string>
	<string>http://www.planwallpaper.com/static/images/background-wallpaper-2.jpg</string>
	<string>http://www.planwallpaper.com/static/images/FreeGreatPicture.com-18429-hd-color-background-wallpaper.jpg</string>
	<string>http://www.planwallpaper.com/static/images/bokeh-wallpaper.jpg</string>
	<string>http://www.planwallpaper.com/static/images/1-141030102417_tNG8xXJ.jpg</string>
	<string>http://www.planwallpaper.com/static/images/Jennifer-in-Paradi_3204219n.jpg</string>
	<string>http://www.planwallpaper.com/static/images/Beautiful-Wallpapers-14.jpg</string>
	<string>http://www.planwallpaper.com/static/images/Colorful-Desktop-Wallpapers-051.jpg</string>
	<string>http://intrawallpaper.com/wp-content/uploads/Wallpaper-3.jpg</string>
	<string>http://www.hdwallpap.com/wp-content/uploads/2014/06/download_free_high_definition_nature_wallpapers.jpg</string>
	<string>http://webneel.com/wallpaper/sites/default/files/images/04-2013/awesome-rain-wallpaper_0.jpg</string>
</array>
</plist>
